.wheely {
    background-position: center center;
    background-size: cover;
    background-color:black;
    width:100%;
    height:124px;
    margin-bottom: 50px;
}

div.wheely-img {
    display:inline-block;
    height:170px;
    width:300px;
    margin:20px;
    border-radius: 10px;
    padding:0px;
    text-shadow: 1px 1px 8px #ffffff;
}

h5 {
    background-color: rgba(255, 255, 255, 0.6);;
    padding:5px;
}